html,body{
	display: block;
	height: 100%;
	width: 100%;
	font-size: .9375em;
    line-height: 1.6;
}

div,footer{
	display: block;
}

a{
	text-decoration: none;
	transition: color .2s;
    color: inherit;
}

body{
	margin: 0;
	padding:0;
}



.pic_size{
	width: 60px;
	height: 60px;
	position: relative;
}

.nav{
	background-color: #262626;
    height: 50px;
}

.nav_container{
	margin: 3px auto 0 auto;
    max-width: 1100px;
    position: relative;
}

.nav_menu{
	padding-left: 70px;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav_first_elem{
	display: inline-block;
	line-height: 50px;
	left: 70px;
	color: #bfbfbf;
	font-size: 15px;
	font-family: Arial;
	cursor: default;
}

.nav_other_elem{
	display: inline-block;
	color: #bfbfbf;
    font-weight: 300;	
	line-height: 50px;
}

.nav_right_elem{
	display: inline-block;;
	color: #bfbfbf;
    font-weight: 300;	
	line-height: 50px;
	padding: 0;
    position: absolute;
    right: 6.4em;
    top: 0;
}

.items {
	border-right: 1px solid #595959;
	margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}

.items:hover{
	color: #ffffff;
}

.last:hover{
	color: #ffffff;
}

.last {
	border-right: 0;
}

.back{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -21;
}

.main_block{
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	height: 700px;
}

.title_news{
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;    
}

h2{
	margin: 0;
	padding: 25px 5px 25px 0;
	color: #1a1a1a;
	font-weight: 300;
	line-height: 1.06452;
	font-size: 4.13333rem;
	font-family: Helvetica Arial sans-serif;
}

.flex-container{
	display: flex;
	padding: 15px 0 0;
}

.flex-item{

}

.foto{
    width: 770px;
}

.main-text{
	bottom: 105px;
    left: 0;
    position: relative;
    width: 770px;
    height: 100px;
    opacity: 0.8;
 	background: #BDBDB1;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding:7px 0;

}

.right_box{
	background-color: #f2f2f2;
	margin: 0 0 7px 0 ;
	padding: 0;
}

.right_text1{
	padding: 7px;
    position: relative;
    font-weight: 700;
    font-size: 1.0666666667rem;
    line-height: 1.375;
}

.right_text2{
	font-weight: 300;
	font-size: 1.3333333333rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.right_image{
    width: 310px;
}

.r_b{
	padding-bottom:7px;
}

.search_top_foto{
	vertical-align: middle;
	padding: 0;
}

.men:hover{
	color: #ffffff;
}
.item1{
    width: 70%;
    padding: 0;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

.item2{
	padding-left: 20px;
	width: 30%
}

.item3{
	margin: 0;
	position: relative;
	bottom: 100px;
}

.text{
	padding: 15px;
}

.text:hover{
	color: #C00;
}

.imageTextBig{
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 1.1111111111;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

.imageTextSmall{
	list-style: none;
	font-weight: 300;
	margin: 0;
	padding: 5px 5px 5px 5px;
	font-size: 1.6rem;
	line-height: 1.1666666667;
}

.textUnderImage{
	margin: 0;
	padding: 4px;
	color: #262626;
	border-top: 1px solid #d9d9d9;
	font-weight: 300;
	line-height: 1.3333333333;
	font-size: 1rem;
}

.firstTextUnderImage{
	margin: 0;
	padding: 4px;
	font-weight: 300;
	font-size: 1.3333333333rem;
	line-height: 1.2;
}

.nfooter{
	background-color: #0c0c0c;
    padding: 30px 0;
    height: 900px;
}

.nfooter_tools{
	margin: 0 auto;
    padding: 0;
    width: 1100px;
    clear: both;
    content: '';
    display: table;
}

.nfooter_weather{
	float: left;
    margin-bottom: 0;
    top: 0;
    padding: 2px 0 10px;
    display: table;
    position: relative;
}

.weather_text{
	color: #fff;
	padding-right: 15px;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
}

.weather_img{
	display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.weather_image{
	display: block;
    height: auto;
    width: 100%;
}

.nfooter_search{
	float: right;
	position: relative;
	border: none;
    outline: none;
    color: #262626;

}

.forms{
	display: block;
    height: 30px;
    position: relative;
  	margin: 0;
  	color: #262626;
}

input{
	margin: 0;
    vertical-align: baseline;
}

.search_form{
	background-color: #262626;
    color: #e6e6e6;
    min-height: 25px;
    padding: 6px 45px 6px 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 14px Arial;
}

.footer_content{
	border-top: 0;
    margin: 0 auto auto;
    padding: 1px 0 40px;
    max-width: 1100px;
    clear: both;
    content: '';
    display: table;
}

.nfooter_nav{
	color: #fefefe;
    font-weight: 700;
    font-size: .8rem;
    border-top: 0;
    padding: 20px 0 0;
    background-color: inherit;
    margin: 0;
}

.nav_group{
	display: inline;
    padding-top: 25px;
    clear: both;
    text-align: left;
    margin-bottom: 100px;
}

.item_group{
	width: 16%;
	padding-right: 1rem;
    display: inline-block;
    list-style-type: none;
    margin: 0 auto 20px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

*{
	box-sizing: border-box;
}

li{
	display: list-item;
}

ol{
	margin:0;
	display: block;
    list-style-type: decimal;
}

.title_group{
	background: none;
    border-top: 0;
    padding: 0;
    text-align: left;
    color: #fefefe;
    display: block;
    font-weight: 300;
    font-size: 1.4666666667rem;
}

.footer_text{
	padding: 0;
}

.footer_list_items{
	display: inline-block;
    padding: 5px 0 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
    width: 100%;
    color: #bfbfbf;
    font-weight: 300;
    font-size: .96rem;
    text-decoration: none;
}

.copyright{
	clear: both;
    margin-top: 0;
    padding: 40px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    margin: 20px auto 0;
    text-align: left;
}

.bot_logo{
	float: left;
    margin-bottom: 20px;
    font-weight: 400;
    position: relative;
    font-size: .9333333333rem;
    clear: both;
    content: '';
    display: table;
}

.logot{
	display: inline-block;
    padding-right: 10px;
    position: relative;
    top: 8px;
    color: #595959;
    font-weight: 700;
    text-decoration: none;
    font-size: .8rem;
}

.cnn_image_copyright{
    width: 36px;
}

.last_container{
	display: inline-block;
    float: right;
    margin-left: 0;
    overflow: hidden;
}

.up_str{
	text-align: right;
	margin-bottom: 5px;
	display: block;
}

.lw_str{

}

.str_list{
	list-style-type: none;
    padding: 0;
}

ul{
	margin: 0;
	display: block;
}

.str_list_item{
	display: inline;
	list-style-type: none;
    font-weight: 700;
   	font-size: .8rem; 
   	color: #8c8c8c;
    margin-right: 3px;
}

.textWithLogo{
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    vertical-align: middle;
    width: 158px;
	color: #595959
}